<a href="https://colab.research.google.com/github/Aaggasapos/PLNG211-2-OLFU-QC/blob/main/if_Else_Loop_For_loop_Nested_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IF STATEMENT**

In [4]:
#if statement


num1 = input ("Enter First Number: ")
num2 = input ("Enter Second Number: ")

if num2>num1:
  print("2nd Number is greater than 1st Number.")

elif num1>num2:
    print("1st Number is greater than 2nd Number.")
else:
  print("They are both equal.")

Enter First Number: 2
Enter Second Number: 2
They are both equal.

**LOOP**

In [5]:
#Using for loop to display only THURSDAY
week = ["Sunday",'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  if x== "Thursday":
    print(x)
    break

Thursday

**FOR LOOP**

In [6]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

 **RANGE USING FOR LOOP**

In [7]:
#The range() function

#for x in range(6):
  #print(x)
for x in range (2,6):
  print(x)

2
3
4
5

**NESTED LOOPS**

In [8]:
#Nested loops
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry