<a href="https://colab.research.google.com/github/Aaggasapos/PLNG211-2-OLFU-QC/blob/main/Laboratory1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Number 1

In [1]:
array = [1,2,3,4,5,6,7,8,9,10]

sum = 0
for x in array:
    
 print(x)
sum += x

print("Sum =", sum)

1
2
3
4
5
6
7
8
9
10
Sum = 10

Number 2

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers.append(11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Number 3

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers.insert(1,1.5)
print(numbers)

[1, 1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Number 4

In [4]:
numbers = [5, 4, 3, 2, 1]

numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

Number 5

In [5]:
numbers = [5, 4, 3, 2, 1]
n = len(numbers)
print(n)

5